<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.nomnio.phonegap.android.plugin"
      version="0.1.0">
    <name>ScreenOrientation</name>
    <description>PhoneGap ScreenOrientation Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,screen, orientation</keywords>
  
    <js-module src="www/screenorientation.js" name="ScreenOrientation">
        <clobbers target="navigator.screenOrientation" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenOrientation">
                <param name="android-package" value="com.nomnio.phonegap.android.plugin.ScreenOrientation"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/ScreenOrientation.java" target-dir="src/com/nomnio/phonegap/android/plugin" />      
     </platform>          
</plugin>